[*]
indent_style = space
tab_width = 4
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# JetBrains Rider custom properties for code formatting styles
resharper_csharp_brace_style=next_line

resharper_braces_for_ifelse=not_required
resharper_csharp_braces_for_foreach=not_required
resharper_csharp_braces_for_for=not_required
resharper_csharp_braces_for_using=not_required
resharper_csharp_braces_for_while=not_required