<!DOCTYPE html>
<html lang="en">
<head>
    <title>Authentication</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/start.css">
</head>

<body>
    <main class="auth">
        <h1>Authcode</h1>
        <form action="/auth" method="POST">
            <input type="password" name="authcode">
            <button type="submit">Submit</button>
        </form>
        <img src="/emote/Sure">
    </main>
</body>
</html>
