<!DOCTYPE html>
<html lang="en">
<head>
    <title>Authentication</title>

    <link rel="stylesheet" href="/static/start.css">
</head>
<body>
<div style="text-align: center;">
    <h3 style="color: #fff">Authcode</h3>
    <form action="/auth" method="POST">
        <input style="color: #fff; background: #121212" type="password" id="authcode" name="authcode">
        <input style="color: #fff; background: #121212" type="submit" value="Submit">
    </form>

    <img src="http://192.168.2.106:9000/emote/Sure">
</div>
</body>
</html>