<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat2</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/start.css">
    <script src="static/gfd.js"></script>
</head>

<body>
    <main class="chat">
        <section id="messages">
            <div class="scroll-container">
                <ol id="messages-list"></ol>
            </div>

            <div id="more-messages-indicator">
                <!-- "arrow-down" icon from https://github.com/feathericons/feather, under MIT license -->
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"/><polyline points="19 12 12 19 5 12"/></svg>
            </div>
        </section>

        <section id="input">
            <form>
                <div class="select-container">
                    <select id="channel-select"></select>
                </div>

                <div class="input-container">
                    <input type="text" id="chat-input" autocomplete="off" placeholder="Message" enterkeyhint="send">
                    <div id="channel-hint"></div>
                </div>

                <button type="submit">Send</button>
            </form>
        </section>
    </main>

    <div id="timestamp-width-probe"></div>
    <script src="static/start.js"></script>
</body>
</html>
